/********* RESET********/
* { margin:0;  padding:0; }
ol,ul { list-style:none; }
a { outline:0; text-decoration:none; color:#555; }
img { border:0; vertical-align:bottom; }


/********** FONT *********/
@font-face {
    font-family: 'notokr-regular';
    src: url('notokr-regular.eot');
    src: url('notokr-regular.eot?#iefix') format('embedded-opentype'),
         url('notokr-regular.woff') format('woff'),
         url('notokr-regular.ttf') format('truetype'),
         url('notokr-regular.svg#notokr-regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'JejuMyeongjo-Regular';
    src: url('JejuMyeongjo-Regular.eot');
    src: url('JejuMyeongjo-Regular?#iefix') format('embedded-opentype'),
         url('JejuMyeongjo-Regular.woff') format('woff'),
         url('JejuMyeongjo-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


/*****IE경고창******/
.backLayer {background-color:#000;  filter: alpha(opacity = 70); width:100%;height:100%; position: absolute; top: 0px; left: 0px; z-index: 999;}
.warning_area { margin: 0 auto; width: 100%; height: 100%; }
.warning {background:#444444; padding:20px;}
.warning_area h2 { margin-bottom: 15px;}
.warning_area p { margin-bottom: 30px;}
.warning_area p,.warning_area h2 { color: #fff; }
.warning_area p a { color: #fff; text-align: center; font-size: 14px; text-decoration: none; }
.warning_area p:hover a{color: #ff9320;}
.closeBtn2 {width: 30px;height: 30px;background-image: url("http://img.khan.co.kr/spko/storytelling/2016/anniversary/close_btn.png");background-size: 30px 30px;background-position: top;cursor: pointer;}
.warning_area p.keepBtn , .warning_area p.updateBtn{ text-align: center; width: 150px;height: 35px;line-height: 35px;margin: 0px auto;cursor: pointer;display: block;border: 1px solid white; padding: 0px;margin-bottom: 10px;margin-top: 20px;}
.warning_area .keepBtn:hover , .warning_area p.updateBtn:hover {color: #ff9320;border: 1px solid #ff9320;}
.ieBox{position:fixed; z-index:1000; width: 500px; height: 250px; top:50%; left: 50%; margin-top: -125px; margin-left: -250px;}



.ie9 { width: 400px; position: fixed; bottom: 30px; right: 30px; background:#333; box-shadow: 0px 0px 10px #111; box-sizing: border-box; padding:20px;
z-index:1111; border-radius: 5px; }
.ie9 p { font-size: 15px; color:#fff; margin-bottom: 10px;text-align: center; }
.ie9 .goUpdate { width: 280px; margin: 0 auto;  position: relative; top: 0px; text-align: center; color:#fff; 
cursor: pointer; border-radius: 7px; font-size: 16px;line-height: 28px; font-weight: bold; padding: 13px 0;background: #93b8eb; }
.ie9 .goUpdate a { color:#111; }
.ie9 .close { position: absolute; top:10px;right:15px; color:#fff; cursor: pointer; font-size:30px; line-height:20px;}



/*-------------------------------------*/
/******** 전체 기본 CSS - PC 기준********/
/************* 2019.5 YJ *************/
/*-------------------------------------*/


body { position: relative; background: #fff; letter-spacing: -0.04em; /* letter-spacing: -1px \0/IE8; */  
font-family: 'JejuMyeongjo-Regular', 'notokr-regular', 'Apple SD Gothic Neo','맑은 고딕', Malgun Gothic, '돋움', Dotum, Helvetica, AppleGothic, Sans-serif; 
/*font-family: 'Noto Serif KR'; */}
.wrap {position: relative; width: 100%;}
.wrap::after {content: ""; clear: both; display: block;  }
.top_btn_box { display: none; }

body.fixed { height:100vh; overflow-y: hidden; }

/* loading */
.loading-page { width: 100%; height: 100%; height: 100vh; background: #111; position: fixed; z-index: 100; left: 0px; top: 0px; right:0px; bottom: 0px; overflow:hidden; }
.loading-gif { width: 100%; height: 100%; padding-top: 500px; }
.spinner {margin: 0px auto;width: 70px; text-align: center; }
.spinner > div {width: 18px;height: 18px;background-color: #fff;border-radius: 100%;display: inline-block;
-webkit-animation: sk-bouncedelay 1.4s infinite ase-in-out both; animation: sk-bouncedelay 1.4s infinite ease-in-out both;}
.spinner .bounce1 {  -webkit-animation-delay: -0.32s; animation-delay: -0.32s;}
.spinner .bounce2 {  -webkit-animation-delay: -0.16s;animation-delay: -0.16s;}
@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% {
  -webkit-transform: scale(0)
  }
  40% {
  -webkit-transform: scale(1.0)
  }
}
@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}
.after-load { display: block;}

::selection { background: #ff9c34; color: #111; text-shadow: none; }
::-moz-selection {background: #ff9c34; color: #111; text-shadow: none; }
::-webkit-selection {background: #ff9c34; color: #111; text-shadow: none; }

/* Header */
.interactive-header {  background: rgba(0,0,0,0.85); position: fixed;padding: 0px 7px;box-sizing: border-box;top: 0px; left: 0px; width: 100%; height:  32px; z-index: 100;}
.interactive-header .headerWrap { width: 100%; height: 100%; }
.interactive-header .header_container { margin: 0 auto; width: 100%; height: 100%; position: relative; overflow: hidden; }
.interactive-header .header_container .toggle-btn{ display:none; } 
.interactive-header .khan_btn { float: left;  transition:all 0.5s ease 0s; }
.interactive-header .khan_btn img { width:60px; height: auto; margin-top: 8px; opacity:0.7;}
.interactive-header .khan_btn:hover { opacity: 1; }
.interactive-header .share_bx { float: right;position: relative; top: -3px; }
.interactive-header .share_bx span {pos ition: relative;  width: 22px; height: 40px;  cursor: pointer; }
.interactive-header .share_bx span img  { transition:all 0.4s ease 0s; opacity: 0.8; filter: alpha(opacity = 80); width: 24px; }
.interactive-header .share_bx span:hover > a > img { opacity:1; filter: alpha(opacity = 100); }
.top-title {  position: absolute; left: 50%; margin-left: -60px; width: 120px; height: auto;  }
.top-title img {  width: 120px; margin-top: 12px; opacity:0.5; }
.share_bx span .user-count { position: absolute; bottom: 18px; left: -20px; font-size: 13px;  color: #b2b2b2;font-style: normal; letter-spacing: 0px; }
.share_bx span:hover > img { opacity:1; filter: alpha(opacity = 100); }
/* Header */

/* common */
.wrap-psrelative, .wrap_psrelative { width: 100%; height :100%; position: relative; }
.wrap_mw_1000 { max-width: 1000px; margin: 0 auto; }
.wrap_mw_1100 { max-width: 1100px; margin: 0 auto; }
.wrap_mw_1200 { max-width: 1200px; margin: 0 auto; }
.wrap_mw_650 { max-width: 650px; margin: 0 auto; }
.wrap_mw_550  { width: 100%; height: 100%; position: relative;  max-width: 550px; margin: 0 auto;}
.noise { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; background: url("http://img.khan.co.kr/spko/storytelling/2016/republic/noise2.png") top left repeat; }
.cover-pattern { width: 100%; height :100%; position: absolute; top: 0px; left: 0px; background: url("http://img.khan.co.kr/spko/storytelling/2017/nohate/overptn.png") repeat; }
.cover-pattern2 { width: 100%; height :100%; position: absolute; top: 0px; left: 0px; background: url("http://img.khan.co.kr/spko/storytelling/2018/korea/pattern2.png") repeat; }
.cover-shadow { width: 100%; height :100%; position: absolute; top: 0px; left: 0px; background: url("http://img.khan.co.kr/spko/storytelling/2017/nohate/black50.png") repeat; }
.cover-shadow2 { width: 100%; height :100%; position: absolute; top: 0px; left: 0px; background: url("http://img.khan.co.kr/spko/storytelling/2017/nohate/black65.png") repeat; }
.cover-shadow3 { width: 100%; height :100%; position: absolute; top: 0px; left: 0px; background: url("http://img.khan.co.kr/spko/storytelling/2017/nohate/black65.png") repeat; }
.cover-shadow4 { width: 100%; height :100%; position: absolute; top: 0px; left: 0px; background: rgba(0,0,0,0.85); }
/* common */

/* common_header */
.common_header {  width: 100%;  position: relative;  box-shadow: 0px 0px 20px rgba(102, 103, 107, 0.15); border-bottom: 1px solid #cdd1d6;   z-index: 1;background: #fff;
display:none;}
.common_header .top_area_holder{ width: 100%;  height: 30px; background: #f5f5f5; }
.common_header .top_area {  width: 1050px; margin: 0 auto; height: 30px;  line-height: 29px; overflow: hidden; font-size: 12px;}
.common_header .top_area .family_site {  float: left;margin: 0;}
.common_header .top_area .family_site dd a {  color: #898989; font-size: 12px; }
.common_header .top_area .family_site dd span { color: #dfdfdf; padding: 0 2px; font-size: 12px;}
.common_header .top_area .membership {  float: right; }
.common_header .top_area .membership dd { float: left; margin-right: 6px;  padding-right: 4px;}
.common_header .top_area .membership dd a.log {font-weight: bold;color: #3b57c4; }
.common_header .top_area .membership dd span {  color: #dfdfdf;padding: 0 1px; font-size: 12px; }
.common_header .top_area  .membership dd a { color: #898989;font-size: 12px;}
.common_header .logo_area { width: 1050px;  margin: 0 auto; border-bottom: none; height: 124px;position: relative;}
.common_header .sec_title {  font-size: 38px;letter-spacing: -2px;line-height: 50px;text-align: center;  padding-top: 30px;}
.common_header .sec_title a { color:#111; }
.common_header .sub_logo { position: absolute; top: 21px;  left: 0; z-index: 5;}
.common_header .sub_logo a {  background: url("http://img.khan.co.kr/spko/sub_2016/sub_logo.png") no-repeat scroll 0 0; width: 134px;height: 31px; display: block;text-indent: -9999px;}
.common_header  .logo_area .sns_wrap {  position: absolute;top: 84px; right: 0;  z-index: 30;}
.common_header .logo_area .sns_wrap .social li { float: left;background: url("http://img.khan.co.kr/spko/main_2015/set_common.png?v=20180927") no-repeat scroll 0 0 transparent;
width: 27px; height: 30px;}
.common_header  .logo_area .sns_wrap .social li.facebook {  background-position: 0 0; margin-right: 5px;}
.common_header  .logo_area .sns_wrap .social li.twitter { background-position: -32px 0; margin-right: 6px;}
.common_header  .logo_area .sns_wrap .social li.instagram {  background-position: -121px 0;margin-right: 4px;}
.common_header  .logo_area .sns_wrap .social li.youtube {  width: 35px; background: url("http://img.khan.co.kr/spko/main_2015/icon_header_youtube.png") no-repeat scroll 0 0 transparent;
 background-position: 0 0; margin-right: 14px;}
.common_header .logo_area .sns_wrap .social li a { display: block; width: 27px;   height: 30px;text-indent: -9999px;}
/* common_header */
#header-m { display:none; }
.art_header { display:none; }
.common-footer #footer-m { display:none;}

.container {  width:100%; position: relative; }

/*** S-header ***/
.going-down {  z-index: 10;  position: absolute;  bottom: 60px; left: 50%; margin-left: -10px; }
.going-down img { width: 18px; height: 10px;margin: 0 auto;  animation: goDown 1s cubic-bezier(0.37,0.01,0.55,0.99) infinite; }
@keyframes goDown{
	0%{-webkit-transform:translateY(-15px);transform:translateY(-15px)}
	50%{-webkit-transform:translateY(-15px); transform:translateY(0)}to{-webkit-transform:translateY(-15px);transform:translateY(-15px)}	
}

.s-header {  position: relative; width:100%; box-sizing: border-box; height: 650px; overflow: hidden; background: #111;}
.s-header .s-header-graphic { width: 100%; height: 100%;}
.s-header .s-header-graphic .back-photo-slider {width: 100%; height: 100%; position: relative;}
.s-header .s-header-graphic .back-photo-slider .photo { animation: blur ease-in-out 10s infinite both; 
width: 100%; height:100%; background: url("http://img.khan.co.kr/spko/storytelling/2020/virus/s-header-graphic-backphoto-full.jpg") no-repeat; background-size: auto 100%;}
.s-header .s-header-graphic .front-text { width:100%;height:100%; position: absolute; left: 0;top:0;}
.s-header .s-header-graphic .front-text img { height:110%; position: relative; left: 50%; margin-left: -55%;
animation: titlezoom 15s ease infinite both; }

@keyframes titlezoom {
	0%{ transform:scale(2.0); opacity:1; transform-origin: center;  }
	98%{transform:scale(1.0); opacity:1; transform-origin: center;}
	100%{transform:scale(3.0); opacity:0; transform-origin: center;}	
}

@keyframes blur {
	0%{background-position:0 0;filter:blur(0px);}
	1.5%{background-position:0 0;filter:blur(2px); }
	4%{background-position:0 0;filter:blur(0px);}
	
	25%{background-position:0 0;filter:blur(0px);}
	30.09%{background-position:-2050px 0;filter:blur(10px);}
	31.0%{background-position:-2000px 0;filter:blur(0px);}

	55.0%{background-position:-2000px 0;filter:blur(0px);}
	60.09%{background-position:-4050px 0;filter:blur(10px);}
	61.0{background-position:-4000px 0;filter:blur(00px);}

	85.0%{background-position:-4000px 0;filter:blur(0px);}
	90.9%{background-position:-50px 0;filter:blur(0px);}			
	91.0%{background-position:0px 0;filter:blur(10px);}
	100%{background-position:0 0;filter:blur(0px); }
}

@keyframes float {
	0%{-webkit-transform:translateY(-10px);transform:translateY(-10px)}
	50%{-webkit-transform:translateY(-10px); transform:translateY(0)}to{-webkit-transform:translateY(-10px); transform:translateY(-10px)}	
}


/*** S-body ***/
.s-body { background:#1b1b1b; z-index: 2; position: relative; width: 100%;overflow: hidden; }
.s-body-wrap { box-sizing: border-box; padding: 50px 0; }
.top-info {  margin: 50px auto;     margin-bottom: 120px;}
.page-title { }
.page-title .main-title {display: block; margin: 0 auto; margin-bottom: 40px;}
.page-title .sub-title {display: block; margin: 0 auto; }
.page-title .img-m { display:none; }

.top-byline { margin: 30px auto;  }
.top-byline ul { font-family: 'Noto Sans KR', 'notokr-regular';  }
.top-byline ul li { font-size: 13px;line-height: 18px;color: #fff;opacity: 0.4; text-align: center; 
letter-spacing: 0; text-shadow: 0px 0px 2px #111;}
.top-byline ul li a { color:#fff; } 
.top-byline ul li a:hover { text-decoration: underline }

.back-virus { position: absolute; animation: float 3s cubic-bezier(.36,.07,.19,.97) infinite;      z-index: -1;}
.back-virus > img {}
.virus-big { opacity: 0.2; animation-delay: 0.5s; }
.virus-md {opacity: 0.5;  animation-delay: 0s;}
.virus-md-sm {opacity: 0.4;  animation-delay: 1s;}
.virus-sm {opacity: 0.6; animation-delay: 0.8s;}
.virus--1{}

.pro-des { max-width: 600px; margin: 0 auto; }
.pro-des p { margin: 30px 0; font-size: 26px; line-height: 1.6; letter-spacing: -0.03em; color:#fff; font-weight:400;word-break: break-all; }
.pro-des p b { display: block; text-align: center; margin-bottom: 25px; 
 font-family: 'Noto Sans KR', 'notokr-regular';}


.world-map-area { width:100%; padding: 100px 0; }  
.world-map-area .map-plots-graph { width: 100%; position: relative; }  
.world-map-area .map-plots-graph .map-holder { height: 700px; width:100%; 
box-sizing: border-box; border-top: 5px solid #9f0000; border-bottom: 5px solid #9f0000;} 
.world-map-area .map-plots-graph .map-holder #map {  background: #262626; width: 100%; height: 100%; } 
.virus-type-change { margin: 30px auto; }
.virus-type-change ul { text-align: center; }
.virus-type-change ul li {transition:all 0.3s ease 0s;  display: inline; box-sizing: border-box; padding: 5px 15px; background: rgba(255,255,255,0.1);
font-size: 16px; color:#fff; text-shadow: 1px 1px 2px rgba(0,0,0,0.5); text-align:center; border-radius: 4px;
border: 1px solid rgba(255,255,255,0); margin: 0px 3px; cursor: pointer; font-family: 'Noto Sans KR', 'notokr-regular'; line-height: 1;}
.virus-type-change ul li:hover {  background: rgba(255,255,255,0.15); border: 1px solid rgba(255,255,255,0.5);  }
.virus-type-change ul li.on {  background: rgba(255,255,255,0.15); border: 1px solid rgba(255, 0, 0, 0.5); box-shadow: 2px 2px 10px rgba(230, 0, 0, 0.5);} 

.data-type-change { position: absolute; bottom: 30px; width: 300px; left:50%; margin-left:-150px;z-index: 999999999;}
.switch-btn-holder { width: 100%; position: relative; box-sizing: border-box; padding: 0px 15px;text-align: center; }
.switch-btn-holder .each-btn { transition:all 0.2s ease 0s; display: inline-block; width:100px;  box-sizing: border-box; padding: 8px 15px; background:#fff;
 border: 1px solid #111; color:#111; font-size: 18px;  cursor: pointer; border-radius: 4px;  position: relative; 
 font-family: 'Noto Sans KR', 'notokr-regular'; line-height: 1; }
.switch-btn-holder .each-btn:hover { box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);} 
.switch-btn-holder .on { background:#111; opacity:1;  color:#fff; cursor: default; pointer-events: none;  }
.switch-btn-holder .switch-icon {display: inline; display: inline; margin: 0px 10px; vertical-align: middle;}
.switch-btn-holder .switch-icon img { width: 20px;vertical-align: middle;}
.switch-btn-holder::after {clear: both; content: ""; display:block; }
.switch-btn-holder .type-death { color: #ff2d2d;font-weight:bold; }
.switch-btn-holder .each-btn > span { position:absolute; top: -40px; font-size:26px; line-height:1; 
font-weight:bold; color:#fff;  text-shadow: 1px 1px 1px rgba(0,0,0,0.8);  width: 140px; left:50%; margin-left: -70px;}
.map-des { text-align: center; font-size: 14px; color:#fff; margin: 10px auto; opacity: 0.6;}
.map-info {padding: 5px 10px; background: rgba(255,255,255,0.4); box-shadow: 0 0 3px rgba(0,0,0,0.2); border-radius: 5px;}
.map-info h3  {color: #333; font-size: 15px; font-family: 'Noto Sans KR', 'notokr-regular'; }
.leaflet-popup-content { text-align: center;font-weight: bold; color: #626262; letter-spacing: -1px; }
.leaflet-popup-content p.nation-info {  margin: 0px; font-size: 14px;}
.leaflet-popup-content p.numb { margin: 0px; font-size: 16px; color: #ff2d2d; }

.map-over-graph { position: absolute; bottom: 0; left: 0; top: auto; overflow:hidden;  z-index: 999; }
.graph-wrap { box-sizing: border-box;  padding: 20px; width:100%; }
.graph-wrap h4 { color:#fff; font-size: 16px; font-family: 'Noto Sans KR', 'notokr-regular';  margin-bottom: 10px; }
.graph-wrap h4 span { font-size: 13px;font-family: 'Noto Sans KR', 'notokr-regular';  opacity:0.5; padding-left: 5px; }
.graph-wrap ul { padding-left: 80px; box-sizing: border-box; width: 100%; max-width: 400px; }
.graph-wrap ul li { opacity: 0.85; margin:0px; margin-bottom: 10px;  height: 20px; width: 100%; position: relative; }
.graph-wrap ul li .country-name { color:#ddd;  position: absolute; left: -90px; width: 80px; font-size: 13px; line-height: 1; font-style: normal;  
letter-spacing: 0; text-align: right;}
.graph-wrap ul li .pole { height: 100%;  width: 10px; background:#ff9c34; position: relative; top: 0px; left: 0px; }
.graph-wrap ul li.on { opacity: 1; }
.graph-wrap ul li.on .pole { background: #ff4747; }
.graph-wrap ul li.on em  {color: #ff4747; font-weight: bold;}
.graph-wrap ul li .pole-case {}
.graph-wrap ul li .pole-death {position: absolute;}
.graph-wrap ul li .number {display: block; width: inherit; line-height: 20px;padding-left: 7px; letter-spacing: 0;
position: absolute; font-size: 12px;color:#fff; font-family: 'Noto Sans KR', 'notokr-regular'; right:0; top:0;}

.personCard { margin: 130px auto; width:100%; }
.personCard .card-des { max-width: 500px;margin: 0 auto; /* background: rgba(255,255,255,0.1);border-radius: 8px; */}
.personCard .card-des p { text-align: center; color:#fff; font-weight: bold;  font-family: 'Noto Sans KR', 'notokr-regular'; 
font-size: 18px; position: relative; top: -8px; opacity: 0.7;font-weight:200; }
.personCard .slider-area { width:100%;  margin: 0 auto; position: relative;  padding-top: 30px;}
.list-type { position: absolute; right: 0; top:0; width: 200px; margin-top: 10px; display: none; }
.list-type::after { clear: both; content:""; display:block; }
.list-type ul {  position: relative; color:#fff; font-size: 15px; }
.list-type ul li { width: 50%; text-align: left; display: inline-block; float:left; 
 font-family: 'Noto Sans KR', 'notokr-regular'; cursor: pointer; }
.slider { width:100%; margin-top: 50px; box-sizing: border-box; }
.slider .slider-wrapper { width: 100%; max-width: 1080px;  height:100%; margin: 0 auto; position: relative;  }
.slider-body {  overflow: hidden;  width: 100%;  position: relative; top:0; left:0;padding-bottom: 5px; }
.slider-body ul {  position: relative; top:0; left:0; }
.slider-body ul li { transition: all 0.3s ease 0s; position: relative;  width: 250px; height: 350px; border-radius: 4px; cursor: pointer; 
float: left; display: inline-block;  margin: 0 10px; box-sizing: border-box; box-shadow: 2px 2px 0px #fff;}
.slider .slider-wrapper { max-width: 1080px;   }
.slider-body ul li:hover { transform: translate(3px, 3px); box-shadow:none; }
.slider-body ul li.on { transform: translate(3px, 3px); box-shadow:none; pointer-events: none; }
.slider-body ul li .card-wrap { }
.slider-body ul li .back-photo { }
.slider-body ul li .person-info {  transition: all 0.3s ease 0s;  position: absolute; bottom: 5px; left: 0; width:100%;  opacity:0.5;  margin-bottom: 5px;}
.slider-body ul li .person-info img { max-width:200px; margin: 0 auto; display: block; }
.slider-body ul li .person-info .info-txt { width: 100%; font-size: 17px;  line-height:24px; color:#fff;text-shadow: 1px 1px 2px #111; 
text-align: center;  box-sizing: border-box; }
.slider-body ul li:hover > div > .person-info  {opacity:1;}
.slider-body ul li.on > div > .person-info  {opacity:1;}
.card--1 { width:100%; height:100%; background:url("http://img.khan.co.kr/spko/storytelling/2020/virus/virus-1.jpg") no-repeat; background-size: cover; background-position: center; }
.card--2 { width:100%; height:100%; background:url("http://img.khan.co.kr/spko/storytelling/2020/virus/virus-2.jpg") no-repeat; background-size: cover; background-position: center; }
.card--3 { width:100%; height:100%; background:url("http://img.khan.co.kr/spko/storytelling/2020/virus/virus-3.jpg") no-repeat; background-size: cover; background-position: center; }
.card--4 { width:100%; height:100%; background:url("http://img.khan.co.kr/spko/storytelling/2020/virus/virus-4.jpg") no-repeat; background-size: cover; background-position: center; }
.slider .shadow-right { position: absolute; top: 7%; width: 10px; height: 85%; overflow: hidden; right: 0px;  }
.slider .shadow-right > img, .album-holder .album-left > img { width: 100%; }
.slider .shadow-left {position: absolute; top: 7%; width: 10px; height: 85%; overflow: hidden; left: 0px; }
.slider .arrow {display:none; }
.slider .arrow img { width:100%; opacity:0.6;  }
.slider .arrow:hover > img { opacity:1; }
.slider .prev {position: absolute; top: 50%; margin-top: -15px; left: -30px; cursor: pointer;width: 20px; }
.slider .next {position: absolute; top: 50%; margin-top: -15px; right: -30px; cursor: pointer;width: 20px;}

.slider-bottom { display:none; }
.contents-open { }
.each-card-contents { background: #fff;margin-top: 50px; width:100%; height:100%; position: relative;  }
.each-card-contents-wrap { width:100%;  max-width: 1600px; margin: 0 auto; position: relative;padding-bottom: 80px; box-sizing: border-box;}
.card-con-header { position: relative;padding: 80px 0;}
.card-con-header .virus-thumb {}
.card-con-header .virus-name { font-family: 'Noto Sans KR', 'notokr-regular'; font-size:50px; color:#111; text-align: center; font-weight: 300;}
.card-con-header .virus-top-desc { max-width: 600px; font-size: 20px; margin: 20px auto;
line-height: 1.6; letter-spacing: -0.03em;color: #111;  font-weight: 400; word-break: break-all; display:none;}
.card-con-col-2 { width:100%; width: 1200px; margin: 0 auto; position: relative; }
.card-con-col-2 .card-con-photo { width: 500px; height: 800px; float:left; overflow: hidden; }
.card-con-col-2 .card-con-photo-sars { background: url("http://img.khan.co.kr/spko/storytelling/2020/virus/card-con-virus-sars.jpg") no-repeat; }
.card-con-col-2 .card-con-photo-flu { background: url("http://img.khan.co.kr/spko/storytelling/2020/virus/card-con-virus-flu.jpg") no-repeat; }
.card-con-col-2 .card-con-photo-mers { background: url("http://img.khan.co.kr/spko/storytelling/2020/virus/card-con-virus-mers.jpg") no-repeat; }
.card-con-col-2 .card-con-photo-corona { background: url("http://img.khan.co.kr/spko/storytelling/2020/virus/card-con-virus-corona.jpg") no-repeat; }
.card-con-col-2 .card-con-list { width: 700px; box-sizing: border-box; padding: 0px 50px; float:left;  margin-top: 50px;}
.card-con-col-2::after { clear: both;display:block; content:"";}

.storytelling-as-numbers { margin-bottom: 50px; box-sizing: border-box; }
.storytelling-as-numbers h4 { font-family: 'Noto Sans KR', 'notokr-regular';  font-size: 26px; color: #111;  margin-bottom: 20px;} 
.card-con-col-2 .card-con-list ul {  width: 100%;  position: relative;}
.card-con-col-2 .card-con-list ul li { margin: 35px 0; font-size: 20px; line-height: 1.6; letter-spacing: -0.03em; color: #111;
 font-weight: 400;word-break: break-all;}
.card-con-col-2 .card-con-list ul li p.title { border-left: 4px solid #111; padding-left: 10px; font-weight: bold;margin-bottom: 10px; line-height: 1;
font-family: 'Noto Sans KR', 'notokr-regular';}
.card-con-col-2 .card-con-list ul li p.conts { text-indent: 4px; margin: 10px 0; }
.card-con-col-2 .card-con-list ul li p.conts .sm { display: block; opacity:0.7; font-size: 16px; }

.text-section { margin: 50px auto; max-width: 700px;  }
.text-section h4 { font-family: 'Noto Sans KR', 'notokr-regular';  font-size: 26px; color: #111;  margin-bottom: 20px;}
.text-section ul {  width: 100%;  position: relative;}
.text-section ul li { margin: 50px 0; font-size: 20px; line-height: 1.6; letter-spacing: -0.03em; color: #111;
 font-weight: 400;word-break: break-all;}
.text-section ul li p.title { border-left: 4px solid #111; padding-left: 10px; font-weight: bold;margin-bottom: 10px; line-height: 1;}
.text-section ul li p.conts { text-indent: 8px; margin: 15px 0; }
.text-section ul li p.conts .sm { display: block; opacity:0.7; font-size: 16px; }

.see-more-btn-holder { margin: 100px auto; }
.see-more-btn { transition:all 0.3s ease 0s; font-family: 'Noto Sans KR', 'notokr-regular'; letter-spacing: 0;cursor: pointer; width: 400px; margin: 0 auto; box-sizing: border-box; padding: 30px; text-align: center;
color:#fff;color: rgba(255,255,255,0.8); border: 1px solid rgba(255,255,255,0.4); border-radius: 4px;}
.see-more-btn:hover { transform: translateY(-10px); background: rgba(255,255,255,0.05); box-shadow: 2px 2px 10px rgba(0,0,0,0.7);}


.rel-article-area h4 { text-align: center; font-size: 20px;font-weight: 300;color: #fff; opacity: 0.7;}
.rel-article-area { margin: 100px auto;  font-family: 'Noto Sans KR', 'notokr-regular'; }
.rel-art-title { text-align: center; margin-bottom: 15px; font-size: 20px; color: #777777;font-weight: 500;    text-shadow: 1px 1px 0px rgba(255,255,255,0.8);}
.rel-article {padding: 0; margin: 20px auto; max-width: 600px; }
.art-box { transition:all 0.3s ease 0s; width: 100%; background:#fff;  border-bottom: 4px solid #850000; cursor: pointer; }
.art-box:hover { box-shadow: 2px 2px 8px rgba(95, 0, 0, 0.2); }
.art-box .thumb { width: 100%; height: auto;  max-height: 300px;overflow: hidden;}
.art-box .thumb img { width: 100%;  position: relative;  }
.art-box .art-txt { position: relative; width: 100%; box-sizing: border-box; padding: 15px; padding-bottom: 40px; text-align: left; }
.art-box .art-txt .title { color:#111; font-size: 17px; font-weight: bold; margin-bottom: 5px; }
.art-box .art-txt .des { font-size: 15px; color:#777; }
.art-box .art-txt .read-more { font-size: 14px;line-height: 15px;position: absolute; bottom: 10px; right: 15px; color:#555;
background: url("http://img.khan.co.kr/spko/storytelling/2018/big/outlink.png") no-repeat; background-size: 15px 15px; padding-right:20px;background-position: right;  }

/*****footer*****/
.footer-area {  background:#fff; position: relative; z-index: 10; }
.paper-wrapper { max-width: 900px; margin: 0 auto; }
.paper-wrapper .top-corner { width:100%;  }
.paper-wrapper .top-corner img  { width:100%;  }
.paper-wrapper .paper-bg{ width:100%; background: url("http://img.khan.co.kr/spko/storytelling/2019/projapan/paper.jpg") repeat; box-sizing: border-box;padding-top: 30px;}
.bottom-byline {  width: 100%; margin: 0 auto; }
.bottom-byline ul { font-family: 'Noto Sans KR', 'notokr-regular';   box-sizing: border-box; padding-top: 30px; text-align: center; margin: 0 auto;}
.bottom-byline ul .team-wrap { width: 50%; float: left;}
.bottom-byline ul::after { clear: both; content:''; display:block; }
.bottom-byline ul li { opacity:0.9;  font-weight: 300;font-size: 14px; line-height:21px;color:#222; letter-spacing: 0px; }
.bottom-byline ul li.team { font-weight: bold; font-size: 16px; opacity:1;   letter-spacing: -1px; margin: 5px 0px; }
.bottom-byline ul li.team span { margin: 0px 5px; font-size: 13px; position: relative; top: -2px; }
.bottom-byline ul li .roll { font-weight:bold; display: inline-block; margin: 7px 0px; }
.bottom-byline ul li a { display: inline-block;  color: #111;}
.bottom-byline ul li a:hover { text-decoration: underline; }

.digital-list { position: relative; font-family: 'Noto Sans KR', 'notokr-regular'; z-index:10; }
.digital-list-wrap {  border-top: 1px solid #dbdbdb;  }

.img-pc { display:block; }
.img-m { display:none; }


/*-------------------------------------*/
/***** 전체 기본 CSS - 모바일 기준******/
/*-------------------------------------*/

/***** 노트북 *****/
@media screen and (max-width: 1380px) {

.s-header { height: 500px; }
.s-header .s-header-graphic .front-text img { height: 100%; }
@keyframes blur {
	0%{background-position:0 0;filter:blur(0px);}
	1.5%{background-position:0 0;filter:blur(2px); }
	4%{background-position:0 0;filter:blur(0px);}
	
	25%{background-position:0 0;filter:blur(0px);}
	30.09%{background-position:-1550px 0;filter:blur(10px);}
	31.0%{background-position:-1500px 0;filter:blur(0px);}

	55.0%{background-position:-1500px 0;filter:blur(0px);}
	60.09%{background-position:-3050px 0;filter:blur(10px);}
	61.0{background-position:-3000px 0;filter:blur(00px);}

	85.0%{background-position:-3000px 0;filter:blur(0px);}
	90.9%{background-position:-50px 0;filter:blur(0px);}			
	91.0%{background-position:0px 0;filter:blur(10px);}
	100%{background-position:0 0;filter:blur(0px); }
}

.page-title .main-title { width: 350px; }
.pro-des p { font-size: 22px; }
.world-map-area .map-plots-graph .map-holder { height: 600px; }
.card-con-col-2 .card-con-list { width: 650px;}


}



/***** 모바일 Portraits ****/
@media screen and (max-width: 800px) {
.img-pc { display:none; }
.img-m { display:block; }

.s-header { height: 350px; }
.s-header .s-header-graphic .back-photo-slider .photo { background: url("http://img.khan.co.kr/spko/storytelling/2020/virus/s-header-graphic-backphoto-full-m.jpg") no-repeat; background-size: auto 100%; 
animation: blur ease-in-out 7s infinite both;}
@keyframes blur {
	0%{background-position:0 0;filter:blur(0px);}
	1.5%{background-position:0 0;filter:blur(2px); }
	4%{background-position:0 0;filter:blur(0px);}
	
	25%{background-position:0 0;filter:blur(0px);}
	30.09%{background-position:-380px 0;filter:blur(10px);}
	31.0%{background-position:-350px 0;filter:blur(0px);}

	55.0%{background-position:-350px 0;filter:blur(0px);}
	60.09%{background-position:-730px 0;filter:blur(10px);}
	61.0{background-position:-700px 0;filter:blur(00px);}

	85.0%{background-position:-700px 0;filter:blur(0px);}
	90.9%{background-position:-30px 0;filter:blur(0px);}			
	91.0%{background-position:0px 0;filter:blur(10px);}
	100%{background-position:0 0;filter:blur(0px); }
}
.s-header .s-header-graphic .front-text {   left: 50%;margin-left: -150px; }
.s-header .s-header-graphic .front-text img { height: 350px;animation: titlezoom 10s ease infinite both; }
.page-title .main-title { width: 250px; }
.page-title .sub-title { width: 300px; }
.page-title .img-pc { display:none; }
.page-title .img-m { display:block; }
.top-byline ul li { font-size: 12px; line-height: 1.4;}
.top-info { margin: 0 auto; margin-bottom: 70px; }
.pro-des p {width: 100%; box-sizing: border-box; padding: 0px 12px; font-size: 20px; } 
.world-map-area { padding: 50px 0; }
.virus-type-change { margin: 20px auto; }
.world-map-area .map-plots-graph .map-holder {  height: 400px; }
.virus-type-change ul li { padding: 5px 10px; font-size: 15px; }
.map-des {  font-size: 14px; line-height: 1.4; width: 100%; box-sizing: border-box; padding: 0px 30px; }
.map-info h3 { font-size: 13px; }
.leaflet-container .leaflet-control-attribution {opacity: 0.4; }
.switch-btn-holder .each-btn { font-size: 15px; }
.data-type-change {  bottom: 15px; }
.switch-btn-holder .each-btn > span { font-size: 22px; top:-30px; }

.personCard { margin: 100px auto;}
.personCard .card-des { box-sizing: border-box; padding: 0px 15px; background: none;}
.personCard .card-des p { font-size: 16px;}
.slider {margin-top:0;}
.slider-body ul li { width: 100%; box-sizing: border-box; height: 250px; margin: 0px 5px; }
.slider-body { transform: translateX(10px);} 
.slider-body ul li .person-info { width: 100%; margin-left:0; bottom: 0px; opacity:1; }
.slider-body ul li .person-info img {height: 22px; width: auto; }
.slider-body ul li .person-info .info-txt { font-size: 15px; } 
.slider-body ul li:hover { transform: translate(0px, 0px); }
.slider-body ul li:active { transform: translate(3px, 3px); }
.slider .next { right: 0px; z-index:2; width: 60px; box-sizing:border-box; padding: 15px;
background: rgba(0,0,0,0.5); border-radius: 10px 0px 0px 10px; margin-top: -30px; }
.slider .prev {left: 0px; z-index:2; width: 60px;  box-sizing:border-box; padding: 15px;
background: rgba(0,0,0,0.5); border-radius: 0px 10px 10px 0px;margin-top: -30px;}
.slider-body ul li:hover { transform: translate(0px, 0px); }
.slider .arrow { display:block; }
.slider-body ul li.on {transform: translate(0px, 0px);  box-shadow: 2px 2px 0px #ff2424; }

.card-con-header { padding: 40px 0; padding-bottom: 20px; }
.card-con-header .virus-name { font-size: 32px; }
.card-con-col-2 {  box-sizing: border-box; padding: 0px 15px; width: 100%; }
.card-con-col-2 .card-con-photo {  height: 300px; float: none; width: 100%;}
.card-con-col-2 .card-con-list {float: none; width: 100%; padding: 0px 0px; margin: 20px 0;}
.card-con-col-2 .card-con-list {}
.storytelling-as-numbers h4 { font-size: 20px; margin-bottom: 10px;}
.card-con-col-2 .card-con-list ul li { font-size: 18px; margin: 25px 0; }
.text-section { box-sizing: border-box; padding: 0px 15px; width: 100%; }
.text-section h4 { font-size: 20px; margin-bottom: 10px;}
.text-section ul li { font-size: 18px; margin: 25px 0; }
.each-card-contents-wrap { padding-bottom: 30px; }
.see-more-btn-holder { margin: 50px auto;box-sizing: border-box;  width: 100%; padding: 0px 20px;}
.see-more-btn { width: 100%; padding: 25px; font-size: 15px;}
.rel-article-area h4 { font-size: 16px; }
.rel-article-area { box-sizing: border-box; padding: 0px 15px; margin: 50px 0; }
.art-box { border-radius: 5px; border-bottom:0; }
.art-box .thumb { max-height: 200px; }
.bottom-byline ul { padding: 30px 0; }




}

/****** 모바일 Landscape *****/
@media (max-width: 800px) and (orientation: landscape){


}




 